:root {
  --color-whtie: hsl(0, 0%, 100%);
  --color-gray-light: hsl(212, 45%, 89%);
  --color-blue-grayish: hsl(220, 15%, 55%);
  --color-blue-dark: hsl(218, 44%, 22%);
  --font-primery: "outfit";
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  @media only screen and (max-width: 56.25em) {
    font-size: 58%;
  }
  @media only screen and (max-width: 37.5em) {
    font-size: 55%;
  }
  @media only screen and (max-width: 25em) {
    font-size: 50%;
  }
}
body {
  font-family: var(--font-primery), sans-serif;
  min-width: 100vw;
  min-height: 100vh;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  background-color: var(--color-gray-light);
}

.container {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  justify-self: center;
  align-self: center;
  background-color: var(--color-whtie);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 2rem;
  width: 38rem;
  height: min-content;
  padding: 2rem;
  box-shadow: 0 1rem 4rem rgba(black, 0.15);
  &__img {
    border-radius: 1rem;
    width: 35rem;
    height: 36rem;
  }
  &__h1 {
    text-align: center;
    padding: 2rem 2rem;
    font-size: 2.5rem;
    font-family: var(--font-primery);
    font-weight: 700;
  }
  &__paraghraph {
    color: var(--color-blue-grayish);
    padding: 0rem 6rem 2rem;
    text-align: center;
    font-family: var(--font-primery);
    font-size: 1.5rem;
    font-weight: 400;
  }
}

.attribution {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  justify-self: center;
  align-self: flex-end;
  margin-bottom: 0.5rem;
}
